*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --background-color: #fff;
}

.header {
  background-color: var(--background-color);
  border-bottom: #fff;
  border-bottom: 1px solid #ececec;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.header .container {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: var(--secondary-color);
}

.logo-button {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .logo-button {
    display: none;
  }
}

.logo-button__btn {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .logo-button__btn {
    display: none;
  }
}

.navigation {
  display: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 88px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}

.logo-button__icon {
  width: 24px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-button__icon:hover {
  fill: #2196f3;
}

.logo-button__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo-button__icon {
    display: none;
  }
}

.navigation {
  display: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.header {
  display: flex;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: block;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link:focus {
  color: #2196f3;
}

.menu__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  border-radius: 2px;
  left: 0;
  background-color: #2196f3;
  top: 44px;
}

.menu__link.current {
  color: #2196f3;
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
  }
}

.contact__item {
  fill: #757575;
}

.contact__item:hover {
  color: #2196f3;
}

.contact__item:focus {
  color: #2196f3;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-button-email-icon {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact-button-email-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact-button-phone-icon {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact-button-phone-icon {
    height: 16px;
    margin-right: 10px;
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: calc(24px + (16 + 16 * 1) * ((100vw - 280px) / 480));
}

.contact__link:hover {
  color: #2196f3;
}

.contact__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.16;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 450px) {
  .number {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .number {
    margin-top: 0px;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mob-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
  padding: 0;
  padding-left: 20px;
}

@media screen and (min-width: 450px) {
  .mob-menu {
    padding-left: 40px;
  }
}

@media screen and (min-width: 767px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__button {
  display: block;
  content: "";
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 25px;
}

.mob-menu__button-icon {
  width: 18.67px;
  height: 18.67px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  fill: black;
  transition-property: fill;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__button-icon:hover {
  fill: #2196f3;
}

.mob-menu__button-icon:focus {
  fill: #2196f3;
}

.mob-menu-list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu-list__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  font-size: calc(24px + (16 + 16 * 1) * ((100vw - 280px) / 480));
}

.mob-menu-list__link:hover {
  color: #2196f3;
}

.mob-menu-list__link:focus {
  color: #2196f3;
}

.mob-menu-list__link.current {
  color: #2196f3;
}

.mob-number {
  margin-bottom: 32px;
  color: #2196f3;
}

.mob-email {
  margin-bottom: 64px;
  color: #757575;
}

.mob-font-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-font-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-font-email:hover {
  color: #2196f3;
}

.mob-font-email:focus {
  color: #2196f3;
}

.mob-soc-list__menu {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-list__menu :not(:last-child) {
  margin-right: 10px;
}

.mob-soc-list__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-list__item:not(:first-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 9px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.titles {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .titles {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.hero {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767.99px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimgmob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767.99px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.99px) and (min-resolution: 192dpi), screen and (max-width: 767.99px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimgmobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.99px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.99px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-plan2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1600ok-1x.jpg);
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-comp2x.jpg);
  }
}

.hero__title {
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
  margin: 0 auto;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 450px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: var(--background-color);
  padding: 10px 32px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #188ce8;
}

.hero__button:focus {
  background-color: #188ce8;
}

.hero-two {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
}

@media screen and (min-width: 1200px) {
  .hero-two {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero-menu {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .hero-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.hero-menu__item {
  margin-bottom: 30px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .hero-menu__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-menu__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.hero-menu__button {
  content: "";
  width: 100%;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.hero-menu__button-icon {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-menu__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-menu__item-title {
    text-align: start;
  }
}

.hero-menu__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.employment {
  padding-bottom: 94px;
  padding-top: 0px;
  display: none;
}

@media screen and (min-width: 480px) {
  .employment {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .employment {
    display: block;
  }
}

.employment-menu {
  display: flex;
  margin-left: -30px;
}

.employment-menu__item {
  background: var(--background-color);
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.employment-menu__img-text-container {
  position: relative;
}

.employment-menu__img-text {
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  color: var(--background-color);
}

.personnel {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .personnel {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.personnel-menu {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .personnel-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    justify-content: center;
  }
}

.personnel-menu__item {
  margin-bottom: 30px;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .personnel-menu__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .personnel-menu__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }
}

.personnel-container {
  padding-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.personnel-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.personnel-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.personnel-button-menu {
  display: flex;
  list-style: none;
  justify-content: center;
}

.personnel-button-menu :not(:last-child) {
  margin-right: 10px;
}

.button-personnel {
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-personnel:hover {
  background-color: #2196f3;
  fill: var(--background-color);
}

.button-personnel:focus {
  background-color: #2196f3;
  fill: var(--background-color);
}

.button-personnel__icon {
  width: 20px;
  height: 20px;
}

.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.regular-customers-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .regular-customers-menu {
    flex-wrap: nowrap;
  }
}

.regular-customers-menu__item {
  width: 100%;
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
}

@media screen and (min-width: 480px) {
  .regular-customers-menu__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 760px) {
  .regular-customers-menu__item {
    width: 226px;
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers-menu__item {
    width: 170px;
  }
}

.regular-customers-button {
  background-color: var(--background-color);
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-button:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.regular-customers-button:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .regular-customers-button {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers-button {
    width: 170px;
  }
}

.regular-customers-button__icon {
  width: 106px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.regular-customers-button__icon:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  text-align: center;
  justify-content: space-around;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
    text-align: start;
    justify-content: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .logo-and-address {
    width: 231px;
  }
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-logo--blue {
  color: #2196f3;
}

.footer-logo--white {
  color: #fff;
}

.footer-menu-adress {
  margin-top: 20px;
}

.footer-menu-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-menu-adress__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-menu-adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-adress__link:hover {
  color: #2196f3;
}

.footer-menu-adress__link:focus {
  color: #2196f3;
}

.footer-menu-adress__link-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-adress__link-two:hover {
  color: #2196f3;
}

.footer-menu-adress__link-two:focus {
  color: #2196f3;
}

.social-networks {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .social-networks {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social-networks {
    margin-left: 70px;
  }
}

.social-networks__button-menu {
  display: flex;
  justify-content: center;
}

.social-networks__text {
  margin-bottom: 20px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-networks__button {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--background-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__button:hover {
  background-color: #2196f3;
  fill: var(--background-color);
}

.social-networks__button:focus {
  background-color: #2196f3;
  fill: var(--background-color);
}

.social-networks__icon:not(:last-child) {
  margin-right: 10px;
}

.social-networks__button-icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-input-container {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-input-container {
    width: 450px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input-container {
    width: 570px;
    margin-left: 93px;
    margin-top: 0px;
  }
}

.footer-input-container__text {
  margin-bottom: 20px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  background: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-input-container__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-input-container__btn {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.footer-input-container__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.backdrop-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  position: absolute;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (min-width: 450px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal-btn__icon {
  width: 11px;
  height: 11px;
  fill: var(--secondary-color);
}

.modal-btn__icon :hover {
  fill: #2196f3;
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-field {
  margin-bottom: 10px;
  position: relative;
}

.modal-input-wrap-lable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  fill: currentColor;
}

.modal-input-wrap-lable:hover {
  color: #2196f3;
}

.modal-input-wrap-lable:focus {
  color: #2196f3;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
}

.input-modal:hover {
  border-color: #2196f3;
  color: #2196f3;
}

.input-modal:focus {
  border-color: #2196f3;
}

.modal-input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.input-modal:hover + .modal-input-wrap__icon {
  fill: #2196f3;
}

.input-modal:focus + .modal-input-wrap__icon {
  fill: #2196f3;
}

.modal-text-area {
  width: 100%;
  height: 96px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.input-checbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  align-items: center;
}

.input-checbox-two {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

.input-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .input-text {
    font-size: 14px;
    line-height: 1.16;
  }
}

.input-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: block;
  margin-right: 8px;
}

.input-checbox:checked + .input-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector-9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
}

.button-input:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;
  }
}

.main-portfolio__button-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .main-portfolio__button-menu {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .main-portfolio__button-menu {
    margin-bottom: 50px;
  }
}

.main-portfolio__button-item {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .main-portfolio__button-item {
    margin-top: 0px;
  }
}

.main-portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

.main-portfolio__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio__button:hover {
  background-color: #2196f3;
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-portfolio__button:focus {
  background-color: #2196f3;
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-portfolio__button.current {
  background-color: #2196f3;
  color: var(--background-color);
}

.work {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .work-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-menu__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-menu__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199.98px) {
  .work-menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .no-margin {
    margin-bottom: 0px;
  }
}

.work-menu__link:hover .work-img-container__text,
.work-menu__link:focus .work-img-container__text {
  transform: translateY(0%);
}

.work-menu__link {
  display: flex;
  height: 100%;
  flex-direction: column;
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-menu__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-menu__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-img-container {
  overflow: hidden;
  position: relative;
}

.work-information {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid #eeeeee;
}

.work-img-container__text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms linear;
  padding: 77px 24px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .work-img-container__text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .work-img-container__text {
    padding: 63px 24px;
  }
}

.work-information__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.work-information__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}

.menu {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */